<h1>datetime library</h1>

<li>Time is linear
<li>progresses as a straightline trajectory from the big bag
<li>to now and into the future

<h3>Reasoning about time is important in data analysis</h3>
<li>Analyzing financial timeseries data
<li>Looking at commuter transit passenger flows by time of day 
<li>Understanding web traffic by time of day 
<li>Examining seaonality in department store purchases

<h3>The datetime library</h3>
<li>understands the relationship between different points of time
<li>understands how to do operations on time

<h3>Example:</h3>
<li>Which is greater? "10/24/2018" or "11/24/2016"

In [ ]:
d1 = "9/24/2018"
d2 = "11/24/2016"
max(d1,d2)

<li>How much time has passed?

In [ ]:
d1 - d2

<h4>Obviously that's not going to work. </h4>
<h4>We can't do date operations on strings</h4>
<h4>Let's see what happens with datetime</h4>

In [1]:
import datetime
d1 = datetime.date(2016,11,24)
d2 = datetime.date(2018,9,24)
max(d1,d2)

datetime.date(2018, 9, 24)

In [2]:
print(d2 - d1)

669 days, 0:00:00

<li>datetime objects understand time

<h3>The datetime library contains several useful types</h3>
<li>date: stores the date (month,day,year)
<li>time: stores the time (hours,minutes,seconds)
<li>datetime: stores the date as well as the time (month,day,year,hours,minutes,seconds)
<li>timedelta: duration between two datetime or date objects

<h3>datetime.date</h3>

In [2]:
import datetime
century_start = datetime.date(2000,1,1)
today = datetime.date.today()
print(century_start,today)
print("We are",today-century_start,"days into this century")

2000-01-01 2021-02-21
We are 7722 days, 0:00:00 days into this century

<h3>For a cleaner output</h3>

In [3]:
print("We are",(today-century_start).days,"days into this century")

We are 7722 days into this century

<h3>datetime.datetime</h3>

In [4]:
century_start = datetime.datetime(2000,1,1,0,0,0)
time_now = datetime.datetime.now()
print(century_start,time_now)
print("we are",time_now - century_start,"days, hour, minutes and seconds into this century")

2000-01-01 00:00:00 2021-02-21 08:46:08.223069
we are 7722 days, 8:46:08.223069 days, hour, minutes and seconds into this century

<h4>datetime objects can check validity</h4>
<li>A ValueError exception is raised if the object is invalid</li>

In [6]:
some_date=datetime.date(2015,2,29)
#some_date =datetime.date(2016,2,29)
#some_time=datetime.datetime(2015,2,28,23,60,0)

ValueError: day is out of range for month

<h3>datetime.timedelta</h3>
<h4>Used to store the duration between two points in time</h4>

In [7]:
century_start = datetime.datetime(2000,1,1,0,0,0)
time_now = datetime.datetime.now()
time_since_century_start = time_now - century_start
print("days since century start",time_since_century_start.days)
print("seconds since century start",time_since_century_start.total_seconds())
print("minutes since century start",time_since_century_start.total_seconds()/60)
print("hours since century start",time_since_century_start.total_seconds()/60/60)

days since century start 7722
seconds since century start 667212395.499435
minutes since century start 11120206.59165725
hours since century start 185336.77652762082

<h3>datetime.time</h3>

In [8]:
date_and_time_now = datetime.datetime.now()
time_now = date_and_time_now.time()
print(time_now)

08:46:37.682639

<h4>You can do arithmetic operations on datetime objects</h4>
<li>You can use timedelta objects to calculate new dates or times from a given date

In [9]:

today=datetime.date.today()
five_days_later=today+datetime.timedelta(days=5)
print(five_days_later)

2021-02-26

In [10]:
now=datetime.datetime.today()
five_minutes_and_five_seconds_later = now + datetime.timedelta(minutes=5,seconds=5)
print(five_minutes_and_five_seconds_later)

2021-02-21 08:51:53.727111

In [11]:
now=datetime.datetime.today()
five_minutes_and_five_seconds_earlier = now+datetime.timedelta(minutes=-5,seconds=-5)
print(five_minutes_and_five_seconds_earlier)

2021-02-21 08:42:05.645291

<li>But you can't use timedelta on time objects. If you do, you'll get a TypeError exception

In [13]:
time_now=datetime.datetime.now().time() #Returns the time component (drops the day)
print(time_now)
thirty_seconds=datetime.timedelta(seconds=30)
time_later=time_now+thirty_seconds
#Bug or feature?

08:47:28.356520

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [14]:
#But this is Python
#And we can always get around something by writing a new function!
#Let's write a small function to get around this problem
def add_to_time(time_object,time_delta):
    import datetime
    temp_datetime_object = datetime.datetime(500,1,1,time_object.hour,time_object.minute,time_object.second)
    #print(temp_datetime_object)
    return (temp_datetime_object+time_delta).time()

In [15]:
#And test it
time_now=datetime.datetime.now().time()
thirty_seconds=datetime.timedelta(seconds=30)
print(time_now,add_to_time(time_now,thirty_seconds))

08:47:30.773650 08:48:00

<h2>datetime and strings</h2>

More often than not, the program will need to get the date or time from a string:
    From a website (bus/train timings)
    From a file (date or datetime associated with a stock price)
    From the user (from the input statement)

Python needs to parse the string so that it correctly creates a date or time object

<h4>datetime.strptime</h4>
<li>datetime.strptime(): grabs time from a string and creates a date or datetime or time object
<li>The programmer needs to tell the function what format the string is using
<li> See http://pubs.opengroup.org/onlinepubs/009695399/functions/strptime.html for how to specify the format

In [17]:
date='01-Apr-03'
date_object=datetime.datetime.strptime(date,'%d-%b-%y')
print(date_object)

2003-04-01 00:00:00

In [10]:
#Unfortunately, there is no similar thing for time delta
#So we have to be creative!
bus_travel_time='2:15:30'
hours,minutes,seconds=bus_travel_time.split(':')
x=datetime.timedelta(hours=int(hours),minutes=int(minutes),seconds=int(seconds))
print(x)

2:15:30

In [ ]:
#Or write a function that will do this for a particular format
def get_timedelta(time_string):
    hours,minutes,seconds = time_string.split(':')
    import datetime
    return datetime.timedelta(hours=int(hours),minutes=int(minutes),seconds=int(seconds))

<h4>datetime.strftime</h4>
<li>The strftime function flips the strptime function. It converts a datetime object to a string 
<li>with the specified format

In [18]:
now = datetime.datetime.now()
string_now = datetime.datetime.strftime(now,'%m/%d/%y %H:%M:%S')
print(now,string_now)
print(str(now)) #Or you can use the default conversion

2021-02-21 08:52:34.162709 02/21/21 08:52:34
2021-02-21 08:52:34.162709